 /* Styles for CallingComponent begin */
  .cls-1 {
    fill: url(#linear-gradient);
  }
  
  .cls-2 {
    fill: #fff;
  }
  
  .ccContainer {
    background-color: #0265ff;
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 10px
  }
  
  
  .visitor_photo img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 6;
    position: relative;
  }
  
  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale3d(0.8, 0.8, 1);
      border: 10px solid rgba(255, 255, 255, .3)
    }
  
    to {
      opacity: 0;
      transform: scale3d(1.3, 1.3, 1);
      border: 10px solid rgba(255, 255, 255, .1)
    }
  }
  
  .visitor_photo ::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: -10px;
    right: 0;
    bottom: 0;
    content: "";
    height: 80px;
    width: 80px;
    border: 10px solid rgba(255, 255, 255, .3);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
    z-index: 1
  }
  
  .visitor_photo ::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: -10px;
    right: 0;
    bottom: 0;
    content: "";
    height: 80px;
    width: 80px;
    /* border: 10px solid rgba(255, 255, 255, .3); */
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
    z-index: 1
  }
  
  .headerStyle {
    color: white;
    padding-top: 10px; 
    padding-bottom: 10px; 
  }

  .launcher-vibrate {
    display: inline-block;
    top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 6;
    position: relative;
  }
  
  .launcher-vibrate span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .btnContainer {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .btn {
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin: 0px 6px;
    text-align: center;
    color: #fff;
    width: 94px;
    height: 38px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    cursor: pointer;
  }
  .btn.accept {
    background-color: #00C48C;
    color: #fff;
  }
  .btn.reject {
    background-color: #FF4651;
    color: #fff;
  }
  
  /* Styles for CallingComponent end */